body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
dl {
  list-style-type: none;
}

html,
body {
  font-size: 15px;
  line-height: 1.6;
  position: relative;
  font-family: Helvetica,sans-serif;
  color: #222;
  height:100%;
  width:100%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  color: #4384D8;
}

a:hover {
  text-decoration: underline;
  outline: none;
}

a:focus {
  outline: none;
}

a:hover,
a:active {
  outline: none;
}
