/* default colors */
$primary: #42B983;

/* red yellow blue green */
$red: #DB3E3E;
$red-dark: #98292C;

$yellow: #F69D00;
$yellow-dark: #DE8E00;

$blue: #6592CD;
$blue-dark: #4384D8;

$green: #08BB07;
$green-dark: #089D05;

/* text border line */

$black-dark: #222222;
$black: #404040;
$black-light: #737373;

$gray-dark: #9A9A9A;
$gray: #CACACA;
$gray-light: #EEE;
