@import '../base/var.scss';

.wmui-dialog {
  display: flex;

  .dialog {
    position: fixed;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);

    .icon-close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      color: $gray;
      cursor: pointer;
      padding: 5px;
    }

    .dialog-content {
      margin-top: 20px;
    }
  }
}