.wmui-loading {
  .icon-loading {
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
    display: inline-block;
    opacity: 0.8;
  }
  .loading {
    animation: rotate 1s linear infinite;
  }
  @keyframes rotate {
    from{
     transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .loading-box {
    position: fixed;
    z-index: 99;
    width: 7.6em;
    min-height: 7.6em;
    top: 180px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
  }
}
