@import "../base/var.scss";
.wmui-radio {
  position: relative;
  display: flex;

  &-input {
    cursor: pointer;
    z-index: 9;
    width: 16px;
    height: 16px;
    position: absolute;
    opacity: 0;
    outline: 0;
  }

  &-input+&-button {
    width: 16px;
    height: 16px;
    border: 1px solid $gray;
    background: $white;
    border-radius: 50%;
    display: inline-block;
  }
}

.wmui-radio-text {
  height: 16px;
  line-height: 1;
  padding-left: 10px;
  cursor: pointer;
}


.wmui-radio-input:checked+.wmui-radio-button {
  border: 1px solid $primary;
}

.wmui-radio-input:checked+.wmui-radio-button::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: $primary;
  border-radius: 100%;
  margin: 3px;
}

.wmui-radio-disabled {
  .wmui-radio-button {
    background: $gray-light !important;
    border: 1px solid $gray !important;
  }

  .wmui-radio-input,
  .wmui-radio-text {
    cursor: not-allowed;
  }

  input:checked+.wmui-radio-button::after {
    background: $gray;
  }
}