@import "../base/var.scss";
$select-width: 200px !default;
$select-height: 30px !default;

.wmui-select {
  display: inline-block;
  position: relative;
  width: $select-width;

  .select-control {
    position: relative;
    cursor: pointer;

    .control-input {
      // border-radius: 3px;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border: 1px solid $gray-dark;
      height: $select-height;
      line-height: $select-height;
    }

    .icon-select {
      position: absolute;
      height: $select-height;
      line-height: $select-height;
      top: 0;
      right: 0.5rem;
      transition: all 0.2s;
    }
  }

  .select-lists {
    position: absolute;
    width: 100%;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99;
    border: 1px solid $primary;
    border-top: none;

    li {
      padding-left: 0.5rem;
      height: $select-height;
      line-height: $select-height;

      &:hover {
        background-color: $gray-light;
      }

      &.disabled {
        color: $gray-dark;
        cursor: not-allowed;
      }

      &.active {
        background: $primary;
        color: #fff;
      }
    }
  }

  &.disabled {
    color: $gray-dark;

    .control-input {
      border: 1px solid $gray;
      cursor: not-allowed;
    }
  }

  &.wmui-select-open {
    z-index: 9; //这里引用输入框的焦点样式

    .control-input {
      border-color: $primary;
    }

    .icon-select {
      transform: rotate(-180deg);
    }
  }

  .lists-search {
    border-bottom: 1px solid $gray;

    .search-control {
      border: none;
      height: $select-height;
      line-height: $select-height;
    }
  }
}

